li.card
    .card-main
        .card_name Проектирование
        .card-content
            ul.card-list
                li.card-list-item Иванченко К. Р.
                li.card-list-item Иванченко К. Р.
                li.card-list-item Иванченко К. Р.
                li.card-list-item Иванченко К. Р.
                li.card-list-item Иванченко К. Р.
                li.card-list-item Иванченко К. Р.
                li.card-list-item Иванченко К. Р.
                li.card-list-item Иванченко К. Р.
                li.card-list-item Иванченко К. Р.
                li.card-list-item Иванченко К. Р.
                li.card-list-item Иванченко К. Р.
