ul.card-parentList
    if name == 'index'
        include ./card
        include ./card
        include ./card
        include ./cardList
        include ./cardList
        include ./cardList
        include ./card
        include ./cardList
        include ./cardList
        include ./cardList
    else if name == 'project'
        include ./card
        include ./card
        include ./card
        include ./card
        include ./card
        include ./card
        include ./card
        include ./card
        include ./card
        include ./card
