section.console
    .console-header
        button.console_button.button
            if name == 'index'
                | Добавить объект
            else if name == 'clients'
                | Добавить организацию
            else if name == 'workers'
                | Добавить сотрудника
            else if name == 'project'
                | Остановить цикл
        button.console_button.button
            if name == 'project'
                | Выйти
            else
                | Отмена
        if name == 'project'
            p.console_projectName ТП-33/1 31/123-22
    .console-content
        if name == 'project'
            .console-projectData
                p.console_text.input Заказчик
                p.console_text.input Местоположение
                p.console_text.input Кадастр
                p.console_text.input Параметры
                p.console_text.input Сумма
                p.console_text.input Стадия работы
        include ./controls
