.projects
    ul.projects-params
        li.projects-param Шифр
        li.projects-param Заказчик
        li.projects-param Местоположение
        li.projects-param Кадастр
        li.projects-param Параметры
        li.projects-param Сумма
        li.projects-param Стадия работы
    ul.projects-list
        include ./project
        include ./project
        include ./project
