ul.stages
    li.stages-item.green Газпром
    li.stages-item.green Роснефть
    li.stages-item.red Югстройинвест
    li.stages-item.green Кубанский Государственный Аграрный Университет
    li.stages-item.red Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, quidem?
    li.stages-item Что то в процессе
    li.stages-item
    li.stages-item
