ul.stages
    li.stages-item
    li.stages-item
    li.stages-item
    li.stages-item
    li.stages-item
    li.stages-item
    li.stages-item
    li.stages-item
    li.stages-item
    li.stages-item
