section.view
    ul.view-params
        if name == 'index'
            li.view-param Шифр
        else if name == 'clients'
            li.view-param Организация
        if name == 'index'
            li.view-param Заказчик
            li.view-param Местоположение
            li.view-param Кадастр
            li.view-param Параметры
            li.view-param Сумма
            li.view-param Стадия работы
    ul.view-list
        if name == 'index'
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
            include ./project
        else if name == 'clients'
            include ./client
            include ./client
            include ./client
            include ./client
            include ./client
            include ./client
            include ./client
            include ./client
            include ./client
            include ./client
            include ./client
