.console {
    position: absolute;
    top: 0; left: 0;
    height: 248px; width: 100%;
    &-header {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5px;
    }
}

@import './controls';
