#root {
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: $GRAY_200;
}
.container {
    padding: 20px 60px;
}
.link {
    color: $TEXT_COLOR;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
