#root {
    position: absolute;
    top: 0; left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw; height: 100vh;
    background-color: $GRAY_200;
}
.container {
    padding: 20px 60px;
}
.link {
    color: $TEXT_COLOR;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.button {
    position: relative;
    padding: 15px 25px;
    background-color: $PRIMARY;
    border-radius: 20px;
    color: white;
    transition: $animation;
    &:hover {
        cursor: pointer;
        background-color: darken($PRIMARY, 10%);
    }
    &:active {
        background-color: lighten($PRIMARY, 5%);
    }
}
.input, .select {
    padding: 20px;
    appearance: button;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 4px 9px rgba(black, .14);
    transition: $animation;
    &:focus {
        box-shadow: 0 4px 9px rgba(black, .24);
    }
}
