.user {
    display: flex;
    align-items: center;
    gap: 20px;
    &_settings {
        width: 20px; height: 20px;
        svg {
            fill: $PRIMARY;
            width: 100%; height: 100%;
        }
    }
    &-data {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &_photo {
        &__wrapper {
            width: 68px; height: 68px;
            border-radius: 50%;
            border: 4px solid $PRIMARY;
        }
        width: 100%; height: 100%;
        object-fit: contain;
    }
    &_name {
        font-size: 20px;
    }
}
