.view {
    padding: 0 20px;
    position: absolute;
    top: 241px;
    left: 0;
    height: calc(100vh - 236px - 75px - 5px);
    width: 100%;
    overflow: hidden;
    @include mediaQueryMax(2000px) {
        top: 401px;
        height: calc(100vh - 396px - 75px - 5px);
    }
    &-params {
        padding: 0 10px;
        display: grid;
        grid-template-columns: 50px repeat(23, 1fr);
        gap: 10px;
    }
    &-param {
        font-size: 16px;
        font-weight: 400;
        @include mediaQueryMax(2000px) {
            &:nth-child(3) {
                grid-column: 6 / 12;
            }
            &:nth-child(4) {
                grid-column: 12 / 15;
            }
            &:nth-child(5) {
                grid-column: 15 / 18;
            }
            &:nth-child(6) {
                grid-column: 18 / 20;
            }
            &:nth-child(7) {
                grid-column: 20 / 24;
            }
        }
        &:nth-child(1) {
            grid-column: 2 / 4;
        }
        &:nth-child(2) {
            grid-column: 4 / 6;
        }
        &:nth-child(3) {
            grid-column: 6 / 13;
        }
        &:nth-child(4) {
            grid-column: 13 / 16;
        }
        &:nth-child(5) {

            grid-column: 16 / 20;
        }
        &:nth-child(6) {
            grid-column: 20 / 22;
        }
        &:nth-child(7) {
            grid-column: 22 / 24;
        }
    }
    &-list {
        padding: 12px 20px;
        margin: 0 -20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: calc(100vh - 75px - 236px - 5px - 5px - 14px);
        @include mediaQueryMax(2000px) {
            height: calc(100vh - 75px - 396px - 5px - 5px - 14px);
        }
        overflow-y: scroll;
    }
}


@import './project';
